* {
    box-sizing: border-box;
}

@media all and (max-width: 670px) {
    #defaultCanvas0{
        position: absolute; /*canvasを固定*/
        top: 570px; /*canvasを上に固定*/
    }

    .header-logo{
        padding-top: 90px;
        margin-top: -80px;
        font-size: 36px;
    }

    .header-list a{
        width: 60px;
        padding: 37px 10px;
        font-size: 50%;
    }

    .top-wrapper {
        padding: 150px 0 0 0;
    }

    .contents-item {
        padding-bottom: 50px;
        font-size: 10px;
    }
}