* {
    box-sizing: border-box;
}

@media all and (max-width: 670px) {
    .header-logo{
        padding: 37px 10px;
        font-size: 100%;
    }

    .header-list a{
        width: 60px;
        padding: 37px 10px;
        font-size: 50%;
    }

    .top-wrapper {
        padding: 150px 0 0 0;
    }

    .top-wrapper h1 {
        font-size: 50px;
    }

    .top-wrapper h2 {
        font-size: 15px;
    }

    .contents-item {
        padding-bottom: 50px;
        font-size: 10px;
    }

    .production-item {
        width: 100%;
    }

    .btn {
        font-size: 70%;
        padding: 4px 12px;
    }

    .btn-outline {
        width: 75%;
    }

    .btn-massage {
        font-size: 70%;
    }
}