* {
    box-sizing: border-box;
}

@media all and (max-width: 670px) {
    .header-logo {
        font-size: 30px;
    }

    .top-wrapper {
        padding: 150px 0 0 0;
    }

    .top-wrapper h1 {
        font-size: 90px;
    }

    .top-wrapper h2 {
        font-size: 30px;
    }

    .contents-item {
        padding-bottom: 50px;
        font-size: 10px;
    }

    .production-item {
        width: 100%;
    }

    .btn-outline {
        width: 75%;
    }

    .btn-massage {
        font-size: 70%;
    }
}