.btn-back {
    background-color: brown;
    padding: 8px 24px;
    margin: 10px;
    color: white;
    opacity: 0.8;
    border: 3px solid black;
    border-radius: 4px;
    max-width: 140px;
    text-align: center;
    position: absolute;
}

.btn-back:hover {
    opacity: 1;
}