h1 {
	font-size: 5vw;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: cadetblue;
}

#caution {
	font-size:2vw;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #5a5a5a;
}

.area {
	width: 80%;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
}
	
.tab_class {
	width: calc(100%/5);
	height: 50px;
	background-color: darkgrey;
	line-height: 50px;
	font-size: 3vw;
	text-align: center;
	display: block;
	float: left;
	order: -1;
}
	
input[name="tab_name"] {
	display: none;
}
	
input:checked + .tab_class {
	background-color: cadetblue;
	color: aliceblue;
}
	
.content_class {
	display: none;
	width: 100%;
}
	
input:checked + .tab_class + .content_class {
	display: block;
}

input {
	font-size: 2vw;
}

.options {
	font-size: 2vw;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	table-layout: fixed;
	font-size: 2vw;
}

table tr {
	background-color: #e6f2f5;
	border-bottom: 2px solid #fff;
}
table th, table td {
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
}
table thead tr{
	background-color: #167F92;
	color:#fff;
}
table tbody th {
	background: #78bbc7;
	color: #fff;
}