@font-face {
    font-family: '03スマートフォンUI';
    src: url('/Products/ange_matome/assets/03スマートフォントUI.OTF');
}

@font-face {
    font-family: '851マカポップ';
    src: url('/Products/ange_matome/assets/851MKPOP.TTF');
}

@font-face {
    font-family: 'NeueEinstellung';
    src: url('/Products/ange_matome/assets/NeueEinstellung-Normal.otf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::before , ::after {
	box-sizing: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: inherit;
	vertical-align: middle;
	text-align: inherit;
	font: inherit;
	-webkit-appearance: none;
	appearance: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background-color: #E34E4F;
    font-family: '03スマートフォンUI';
    color: #efefef;
}

h2 {
    padding-bottom: 10px;
}

/* ホバー関係 */
@media (hover: hover){
    #page-top a:hover{
        background: #fff;
        color: #C83C35;
    }
}
@media (hover: none){
    #page-top a:active{
        background: #fff;
        color: #C83C35;
    }
}

/* コンテンツトップ画像 */
.contents-top  {
    width: 100%;
    height: 100vh;
    background: url('/Products/ange_matome/assets/ange_top.png') no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.contents-top::before {
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

@keyframes fadeInAnime{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.title {
    font-family: '851マカポップ';
    margin-top: 30vh;
    text-align: center;
    font-size: min(9vw, 90px);
    color: #efefef;
    letter-spacing: 10px;
    transform: rotate(-5deg);

    animation-name:fadeInAnime;
    animation-delay: 1s;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
}

.marker {
    background: linear-gradient(transparent 60%, #ffce5b 40%);
}

.logo {
    display: flex;
}

.logo-img {
    width: 40%;
    min-width: 400px;
    margin: 5vh auto;
    text-align: center;

    animation-name:fadeInAnime;
    animation-delay: 1.125s;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeLeftAnime{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
  
    to {
      opacity: 1;
        transform: translateX(0);
    }
}

.logo-text {
    font-family: 'NeueEinstellung';
    font-size: min(7vw, 50px);
    color: #efefef;
    position: absolute;
    top: 85vh;
    left: 5vw;

    animation-name:fadeLeftAnime;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}

/* メニューボタン */
.btn {
    position: fixed;
    top: 32px;
    right: 16px;
    width: 48px;
    height: 48px;
    z-index: 10;
    background-color: #C83C35;
}

.top-border {
    width: 100%;
    border-color: #C83C35;
    border-style: solid;
    border-width: 0 0 10px 0;
}

/* メニューボタンの線 */
.btn-line {
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #efefef;
    transition: .2s;
}
.btn-line::before,
.btn-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  transition: .5s;
}
.btn-line::before {
  transform: translateY(-16px);
}
.btn-line::after {
  transform: translateY(16px);
}

/* メニューボタンオープン時 */
.btn-line.open {
	background-color: transparent;  	/* 真ん中の線を透明に */
}
.btn-line.open::before ,
.btn-line.open::after {
	content: "";
	background-color: #333;  /* 上下の線の色を変える */
	transition: .2s;
}
.btn-line.open::before {
	transform: rotate(45deg);  /* 上の線を傾ける */
}
.btn-line.open::after {
	transform: rotate(-45deg);  /* 下の線を傾ける */
}

.menu-logo {
    background-color: #efefef;
    color: #C83C35
}

/* メニュー */
.menu {
    position: fixed;
    right: -70%;
    background-color: #C83C35;
    width: 70%;
    height: 100vh;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    color: #efefef;
    transition: .3s;
    z-index: 9;
    justify-content: center;
}

.menu.open {
    right: 0;
}

.menu-item {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 2vh 0;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    overflow: hidden;
    transform: all .2s;
    padding:10px 30px;
}

/*線の設定*/
.menu li a::before,
.menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #efefef;
    transition: .5s;
}

.menu li.current a,
.menu li a:hover {
    background: #efefef;
    color:#C83C35;
}

.menu li a:hover {
    transition-delay: .5s;
}

.menu li a:hover::before ,
.menu li a:hover::after {
    transform: translateX(0);/*X方向に0%移動*/
}

/*線の位置と変化*/
.menu li a::before {
    top: 0;
	transform: translateX(-100%);/*X方向に-100%移動*/
}
.menu li a::after {
    bottom: 0;
	transform: translateX(100%);/*X方向に100%移動*/
}

/* 600px以上はハンバーガーボタン非表示、ヘッダー固定 */
@media screen and (min-width: 600px) {
	.btn {
		display: none;
	}
	.menu {
		/* メニューを横に */
		display: flex;
		flex-direction: row;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 8vh;
        min-height: 75px;
	}  

    .menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#splash {
    position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align:center;
	color:#fff;
}

#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
}

#splash_text svg{
    height: 2px;
}

.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #C83C35;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}

.loader_cover-up {
    transform-origin: center top;
}

.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}

.coveranime {
    transform: scaleY(0);
}

.heading{
    text-align: center;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.border {
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 85%;
    height: 1vh;
    background-image: repeating-linear-gradient(45deg, #ff7f76 0, #ff7f76 1px, transparent 0, transparent 50%);
    background-size: 8px 8px;
}

.glass {
    width: 100%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1); /* 背景色 */
    border: 1px solid rgba(255, 255, 255, 0.4); /* ボーダー */
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* ぼかしエフェクト */
    box-shadow: 0 5px 20px #E34E4F; /* 薄い影 */
}

.ange-mark {
    color: #C83C35;
}

.contents-analytics {
    width: min(80vw, 700px);
    border-radius: 5vw;
    margin: 5vh auto;
    color: #efefef;
}

.contents-analytics h2{
    color: #efefef;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
}

#analytics {
    width: 85%;
    margin: 0 auto;
    padding: 3vh 0;
}

.value {
    text-align: right;
    font-size: 3rem;
}

.value span {
    display: none;
}

.contents-movie {
    width: min(80vw, 700px);
    border-radius: 5vw;
    margin: 5vh auto;
    color: black;
}

.contents-movie h2 {
    color: #efefef;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;

}

#movies {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 1vh;
}

.movie {
    text-align: center;
    margin: 5vw auto;
    padding: 0 3vw;
    border-left: double 1vw #C83C35;
    border-right: double 1vw #C83C35;
}

.movie-thumbnail {
	position:relative;
	width:100%;
	height:0;
	padding-top:75%;
}

.movie-thumbnail iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.contents-twitter {
    width: min(80vw, 700px);
    text-align: center;
    border-radius: 5vw;
    margin: 5vh auto;
    color: black;

}

.contents-twitter h2 {
    color: #efefef;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
}

.contents-twitter hr {
    margin-bottom: 3vh;
}

.topics {
    width: 90%;
    margin: 30px auto;
}

.mark {
    width: 200px;
    position: fixed;
    right: -50px;
    bottom: -50px;
    z-index: -1;
    animation: 5s linear infinite rotation;
}

.mark_2 {
    width: 150px;
    position: fixed;
    left: 0px;
    top: 300px;
    z-index: -1;
    animation: 5s linear infinite rotation;
}

@keyframes rotation{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
}

footer {
    background-color: #C83C35;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    z-index: 999;
}

footer hr {
    width: 95%;
}

/* ページトップボタン */
#page-top a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C83C35;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    transition: all 0.3s;
}

#page-top {
	position: fixed;
	left: 10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/* 上に上がる動き */
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 下に下がる動き */
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(100px);
    }
}

.caution,.policy {
    text-align: left;
    padding: 0 2vw;
    line-height: 1.5;
}

.caution hr, .policy hr {
    width: 96vw;
    margin: 10px 0;
}

.caution,.policy p {
    line-height: normal;
}

.policy a{
    color: #fff;
}

.copyright {
	margin: 0;
    text-align: center;
    color: #efefef;
    padding: 1em;
}