@font-face {
    font-family: '03スマートフォンUI';
    src: url('/Products/ange_matome/assets/03スマートフォントUI.OTF');
}

.contents-top {
    width: 100%;
    height: 40vh;
    background: url('/Products/ange_matome/assets/ange_top.png') no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.contents-top::before {
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.logo {
    width: min(80vw, 500px);
    text-align: center;
    margin: auto auto;
}

body {
    margin: 0;
    background-color: #FA6E67;
    font-family: '03スマートフォンUI';
    color: white;
}

.heading{
    text-align: center;
}

.contents-movie {
    width: min(80vw, 500px);
    border-radius: 5vw;
    background-color: white;
    margin: 5vh auto;
    color: black;
    box-shadow:  5vw 5vw 10vw #d55e58,
                 -5vw -5vw 10vw #ff7f76;
}

.contents-movie h2 {
    color: #C83C35;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;

}

hr {
    height: 0;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 85%;
    height: 1vh;
    background-image: repeating-linear-gradient(45deg, #ff7f76 0, #ff7f76 1px, transparent 0, transparent 50%);
    background-size: 8px 8px;
}

#movies {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 1vh;
}

.movie {
    text-align: center;
    margin: 5vw auto;
    padding: 0 3vw;
    border-left: double 1vw #C83C35;
    border-right: double 1vw #C83C35;
}

.movie-thumbnail {
	position:relative;
	width:100%;
	height:0;
	padding-top:75%;
}

.movie-thumbnail iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.contents-twitter {
    width: min(80vw, 500px);
    text-align: center;
    border-radius: 5vw;
    background-color: white;
    margin: 10vh auto;
    color: black;
    box-shadow:  5vw 5vw 10vw #d55e58,
                 -5vw -5vw 10vw #ff7f76;
}

.contents-twitter h2 {
    color: #C83C35;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;

}

.contents-twitter hr {
    margin-bottom: 3vh;
}

footer {
    background-color: #C83C35;
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

.copyright {
	margin: 0;
    text-align: center;
    color: white;
    padding: 1em;
}