* {
    box-sizing: border-box;
}

@media all and (max-width: 670px) {
    #defaultCanvas0{
        position: absolute; /*canvasを固定*/
        top: 570px; /*canvasを上に固定*/
    }

    .header-logo{
        padding-top: 90px;
        margin-top: -80px;
        font-size: 36px;
    }

    .top-wrapper {
        padding: 150px 0 0 0;
    }

    .contents-wrapper {
        height: 2300px;
    }

    .contents-item {
        margin: 0 auto;
        width: 100%;
        padding-bottom: 0px;
    }

    .production-item {
        width: 100%;
    }
}

@media all and (min-width: 670px) {
    .contents-item {
        float: left;
    }
}